@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

.info-container {
    margin-bottom: 40px;
}

.send-container{
    text-align: right;
}

#home {
    background-image: url("../shared/img/bg-12.jpg");
}