.do-yourself-acordeon-container{
    padding: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One";
    margin-bottom: 1rem;
    font-size: 3rem;
}

.h1,h1{
    font-size: 4rem;
    margin-top: 2em;
}

.img-home{
    width: 100%;
    height: auto;
    margin-top: 2em;
}

header {
    background: url("../../libs/img/slider_3.jpg") no-repeat center;
    background-size: cover;
    height: 750px;
}

#home{
    background: url("../../libs/img/bg-14.jpg");
    background-size: cover;
}

#ourOffers{
    background: url("../../libs/img/bg-12.jpg") no-repeat center;
    background-size: cover;
}

.pageStyle{
    border-color: #17161b;
    border-style: solid;
    border-width: 15px;
    padding: 100px;
}

#contacts {
    background: url("../../libs/img/bg_footer.png") no-repeat center;
    background-size:cover;
    height: 100px;

}

#doItYourself {
    background: url("../../libs/img/contacts.jpg") no-repeat center;
    background-size: cover;
}

.DoItYourself{
    border-color: white;
    border: solid;
    border-width: 15px;
    padding: 15px;

}

.backImg{
    background-image: url("../../libs/img/doIt.jpg");
    background-repeat: none;
    padding: 15px;
}


.nargile{
    max-width: 100%;

}
.full-width-image {
    height: 300px;
    width: 100%;
    background: url("../../libs/img/cover.jpg") no-repeat center fixed;
    background-size: cover;
}

.carousel-indicators {
    bottom:-30px;
}

.carousel-indicators .active {
    background-color: #1e1413;
}

.carousel-indicators li {
    background-color: #1e1413;
}

.carousel-control-prev {
    left: -85px;
}

.carousel-control-next {
    right: -85px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.item-img {
    left: 0;
    top: 0;
    width: 100%;
}

.item-oreder-view {
    left: 15px;
    padding: 40% 0px;
    background-color: #5f5e5e87;
    opacity: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    height: 100%;
}

.item-order:hover .item-oreder-view {
    opacity: 1;
}

input[type="radio"] {
    margin: 8px;
}

.cup-fruits label {
    margin-left: 15px;
}
.basket-size {
    width: 22px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: red;
    color: white;
}

#accordion .card-header {
    padding: 5px 12px;
}